#!/usr/bin/make -f

export DH_VERBOSE = 1
export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

# Check ghc version history at: https://gitlab.haskell.org/ghc/ghc/-/wikis/commentary/libraries/version-history
ghc_version=9.2.8
cabal_version=3.10.3.0

%:
	dh $@ --with autoreconf -Bbuild

override_dh_auto_configure:
	ghcup upgrade
	ghcup install ghc ${ghc_version}
	ghcup set ghc ${ghc_version}
	ghcup install cabal ${cabal_version}
	# Ignore output to stderr from ```cabal update```
	-cabal update
	echo "--------------------------------------------------"
	echo "Haskell build environment:"
	ghcup --version
	ghc --version
	cabal --version
	echo "--------------------------------------------------"
	echo
	#cabal configure --with-compiler=ghc-${ghc_version} --enable-optimization --enable-split-sections --enable-executable-stripping --enable-library-stripping
	#--------------------------------------------------------------------
	# Custom cabal.project.local
	#--------------------------------------------------------------------
	echo "ignore-project: False" >> cabal.project.local
	echo "with-compiler: ghc-${ghc_version}" >> cabal.project.local
	echo "split-sections: True" >> cabal.project.local
	echo "executable-stripping: True" >> cabal.project.local
	echo "library-stripping: True" >> cabal.project.local
	echo "optimization: 2" >> cabal.project.local
	echo "" >> cabal.project.local
	echo "program-options" >> cabal.project.local
	echo "  ghc-options: -fllvm" >> cabal.project.local
	echo "" >> cabal.project.local
	echo "package *" >> cabal.project.local
	echo "  optimization: 2" >> cabal.project.local
	echo "  ghc-options: -fllvm" >> cabal.project.local
	echo "" >> cabal.project.local

override_dh_auto_build:
	cabal build

override_dh_auto_install:
	mkdir -p debian/p2p-wallet/usr/bin
	cp -p dist-newstyle/build/*/ghc-${ghc_version}/p2p-wallet-*/x/p2p-wallet/opt/build/p2p-wallet/p2p-wallet debian/p2p-wallet/usr/bin/

